<ion-view view-title="Easy Suporte">

  <ion-content id="teste">
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>

  <!--<div class="bar bar-footer bar-dark">-->
    <!--<a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>-->
  <!--</div>-->


  <button class="round-overlay-button bottom-right positive button button-icon icon ion-android-locate light" ng-click="centerOnMe()"></button>

  <ion-footer-bar align-title="left">
    <div class="title"></div>
  </ion-footer-bar>

</ion-view>