<ion-view view-title="Projects">
  <ion-content>

    <div class="card">
      <div class="item item-text-wrap">
        In your CI, call it: Codemets.hit(accountToken, projectCode, projectName, buildStatus, coverageRate);
      </div>
    </div>

    <div class="list">
      <a class="item item-icon-left" href="#">
        <i class="icon ion-happy"></i>
        Easy Supports Mobile
        <span class="badge badge-assertive">10%</span>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-sad"></i>
        Codemets Mobile
        <span class="badge badge-energized">50%</span>
      </a>
    </div>
  </ion-content>

</ion-view>