<ion-view view-title="Sign Up">
  <ion-content>

    <div class="card">
      <div class="item item-text-wrap">
        Sign up and start monitoring your codes' state!
      </div>
    </div>

    <div class="list list-inset">
      <label class="item item-input">
        <input type="email" ng-model="item.email" placeholder="E-mail">
      </label>
      <label class="item item-input">
        <input type="password" ng-model="item.password" placeholder="Password">
      </label>
      <label class="item item-input">
        <input type="password" ng-model="item.password_confirmation" placeholder="Password confirmation">
      </label>
    </div>

    <div class="padding">
      <button class="button button-block button-positive activated" ng-click="signUp()">Sign Up</button>
    </div>


  </ion-content>
</ion-view>